<div class="container-fluid">
    <h1>Register</h1>
    <form method="post"
          action="path/to/form/service">
        <input name="username"
               ng-model="model.user.username"
               id="username"
               type="text"
               placeholder="Username"
               class="form-control"/>
        <input name="password"
               ng-model="model.user.password"
               id="password"
               type="password"
               placeholder="Password"
               class="form-control"/>
        <input name="verifyPassword"
               ng-model="model.user.verifyPassword"
               id="verifyPassword"
               type="password"
               placeholder="Verify Password"
               class="form-control"/>

        <a class="btn btn-default btn-block btn-primary"
           ng-click="model.registerUser(model.user)"
           role="button">Register</a>

        <a class="btn btn-default btn-block btn-danger"
           href="#!/login"
           role="button">Cancel</a>


    </form>
</div>
