<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">StarBook</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                    <li><a href="#!/login"></span>Login</a></li>
                    <li><a href="#!/register">Register</a></li>

                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <h1>"It's like FaceBook, but for Star Wars"</h1>
        <h4><i>-Anakin Skywalker, probably</i></h4>
    </div>

    <br>

    <div class="container-fluid text-center">
        <h3>View detailed information on your favorite Star Wars characters!</h3>
        <img src="https://vignette1.wikia.nocookie.net/starwars/images/d/d9/Luke-rotjpromo.jpg/revision/latest/scale-to-width-down/350?cb=20091030151422"
             height="100" width="100">
        <img src="http://vignette4.wikia.nocookie.net/starwars/images/7/79/Boba_Fett_HS_Fathead.png/revision/latest?cb=20161114160631"
             height="100" width="100">
        <img src="https://images-na.ssl-images-amazon.com/images/I/514Gh3ReuKL._SY355_.jpg"
             height="100" width="100">
        <img src="https://lumiere-a.akamaihd.net/v1/images/Darth-Vader_6bda9114.jpeg?region=0%2C23%2C1400%2C785&width=768"
             height="100" width="100">
        <img src="https://media1.popsugar-assets.com/files/thumbor/QvQAGvRQwnU2PCUmfRUB6_rtW_Q/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2015/12/30/898/n/1922283/8bf3cee0_edit_img_image_39514428_1451354400_728x728/i/Who-Rey-Parents-Star-Wars-Force-Awakens.jpg"
             height="100" width="100">
        <img src="https://pbs.twimg.com/profile_images/807975899/Antiques_-_Yoda.jpg"
             height="100" width="100">
    </div>

    <br>
    <div class="container-fluid text-center">
        <h3>Explore the expansive Star Wars Galaxy!</h3>
        <img src="https://vignette2.wikia.nocookie.net/starwars/images/0/0a/HothATATs-SWB.png/revision/latest?cb=20160220045625"
             height="100" width="100">
        <img src="https://upload.wikimedia.org/wikipedia/en/7/72/SW_binary_sunset.png"
             height="100" width="100">
        <img src="https://lumiere-a.akamaihd.net/v1/images/Dagobah_890df592.jpeg?region=0%2C80%2C1260%2C630"
             height="100" width="100">
        <img src="https://lumiere-a.akamaihd.net/v1/images/databank_endor_01_169_68ba9bdc.jpeg?region=0%2C49%2C1560%2C780"
             height="100" width="100">
        <img src="https://vignette2.wikia.nocookie.net/starwars/images/5/5c/Coruscant_at_night.jpg/revision/latest?cb=20080610031227"
             height="100" width="100">
        <img src="https://vignette2.wikia.nocookie.net/starwars/images/4/4a/Lava_Rivers.png/revision/latest?cb=20140321174433"
             height="100" width="100">
    </div>

    <br>

    <div class="container-fluid text-center">
        <h3>Favorite pages to save them for future viewing!</h3>
        <!-- Example Pics -->
    </div>

    <br>

    <div class="container-fluid text-center">
        <h3>Follow your friends to see their favorite Star Wars characters!</h3>
        <!-- Example Pics -->
    </div>

</div>



