<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="website-list.view.client.html">Websites</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="Profile.html"><span class="glyphicon glyphicon-chevron-left"></span> Back to
                        Profile</a></li>
                    <li><a href="website-new.view.client.html"><span class="glyphicon glyphicon-plus"></span> Add
                        Website</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item">
                <a href="../page/page-list.view.client.html">Music App</a> <a href="website-edit.view.client.html"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <a href="../page/page-list.view.client.html">Movie App</a><a href="website-edit.view.client.html"> <span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <a href="../page/page-list.view.client.html">Art App</a><a href="website-edit.view.client.html"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
        </ul>

    </div>
    <!-- Footer To Profile -->
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/user/:uid"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>

</div>



