<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../index.html">Mobile Website IDE</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/login"></span>Login</a></li>
                    <li><a href="#!/register">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <p>Use this website to make mobile websites! Login or register to get started.</p>
    </div>
</div>
