<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="page-list.view.client.html">Pages</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../website/website-list.view.client.html"><span
                            class="glyphicon glyphicon-chevron-left"></span> Back to
                        Websites</a></li>
                    <li><a href="page-new.view.client.html"><span class="glyphicon glyphicon-plus"></span> Add Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Playlist Page</a> <a href="page-edit.view.client.html"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Concert Page</a> <a
                    href="page-edit.view.client.html"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Instrument Page</a> <a
                    href="page-edit.view.client.html"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
        </ul>


    </div>
    <!-- Footer To Profile -->
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../user/profile.view.client.html"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>
</div>



