
<div class="container-fluid">

    <h1>Edit HTML Snippet</h1>

    <label for="name">Name</label>
    <input name="name"
           ng-model="model.widget.name"
           placeholder="Name"
           type="text"
           class="form-control"
           id="name"/>

    <div text-angular
         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'], ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['html']]"
         ng-model="model.widget.text"></div>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteWidget()"
       role="button">Delete</a>
</div>