<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/user/:uid/website/:wid/page/:pid/widget">Widgets</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/user/:uid/website/:wid/page"><span
                            class="glyphicon glyphicon-chevron-left"></span> Back to
                        Pages</a></li>
                    <li><a href="#!/user/:uid/website/:wid/page/:pid/widget/new"><span
                            class="glyphicon glyphicon-plus"></span> Add
                        Widget</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <h1>The Beatles</h1> <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid"><span
                    class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <img src="https://s-media-cache-ak0.pinimg.com/736x/f3/fa/5f/f3fa5fd0e84e520d97d81725554a233e--beatles-album-covers-beatles-albums.jpg"
                     class="img-fluid"
                     alt="The Beatles"> <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid">
                <span class="glyphicon glyphicon-cog pull-right"/></a>
            </li>
            <li class="list-group-item">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"
                            src="https://www.youtube.com/embed/1Au_QW5MJNI"></iframe>

                    <a href="#!/user/:uid/website/:wid/page/:pid/widget/:wgid"><span
                            class="glyphicon glyphicon-cog pull-right"/></a>
                </div>
            </li>

        </ul>


    </div>
    <!-- Footer To Profile -->
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/user/:uid"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>
</div>

