<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ng-click="model.goToSelf()">Websites</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="model.goToProfile()"><span class="glyphicon glyphicon-chevron-left"></span> Back to
                        Profile</a></li>
                    <li><a ng-click="model.goToNew()"><span class="glyphicon glyphicon-plus"></span> Add
                        Website</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <ul class="list-group">
            <div ng-repeat="website in model.websites">
                <li class="list-group-item">
                    <a ng-click="model.goToWebsitePages(website)">{{website.name}}</a> <a
                        ng-click="model.goToWebsiteEdit(website)"><span
                        class="glyphicon glyphicon-cog pull-right"/></a>
                </li>
            </div>
        </ul>

    </div>
    <!-- Footer To Profile -->
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" ng-click="model.goToProfile()"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>

</div>



