<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mobile Website IDE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/styles.css">
    <link rel="stylesheet" href="../../css/widgetStyles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="ajg ajg-profile">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="widget-choose.view.client.html">Choose Widget</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="widget-list.view.client.html"><span class="glyphicon glyphicon-chevron-left"></span> Back to
                        Widget List</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">

        <ul class="list-group">
            <li class="list-group-item">
                <a href="widget-heading.view.client.html">Header</a>
            </li>
            <li class="list-group-item">
                <a href="widget-image.view.client.html">Image</a>
            </li>
            <li class="list-group-item">
                <a href="widget-youtube.view.client.html">YouTube Video</a>
        </ul>


    </div>
</div>

<!-- Footer To Profile -->
<footer>
    <div class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="../user/profile.view.client.html"><span class="glyphicon glyphicon-user"/></a>
            </div>

        </div>
    </div>
</footer>
</body>
</html>
