<div class="container-fluid">
    <h1>Register</h1>
    <form method="post">
        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               id="username"
               type="text"
               placeholder="Username"
               class="form-control"/>
        <label for="password">Password</label>
        <input name="password"
               ng-model="model.user.password"
               id="password"
               type="password"
               placeholder="Password"
               class="form-control"/>
        <label for="verifyPassword">Verify Password</label>
        <input name="verifyPassword"
               ng-model="model.user.verifyPassword"
               id="verifyPassword"
               type="password"
               placeholder="Verify Password"
               class="form-control"/>
        <label for="name">Name</label>
        <input name="name"
               ng-model="model.user.name"
               id="name"
               type="text"
               placeholder="Name"
               class="form-control"/>
        <label for="email">E-Mail</label>
        <input name="email"
               ng-model="model.user.email"
               id="email"
               type="email"
               placeholder="E-Mail"
               class="form-control"/>

        <a class="btn btn-default btn-block btn-primary"
           ng-click="model.registerUser(model.user)"
           role="button">Register</a>

        <a class="btn btn-default btn-block btn-danger"
           href="#!/login"
           role="button">Cancel</a>


    </form>
</div>
