<div class="ajg ajg-profile" ng-controller="ProfileController">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">All Users</a>
            </div>
        </div>
    </nav>

    <div class="container-fluid" ng-controller="UserListController">

        <ul class="list-group">

            <div ng-repeat="user in model.users">
                <li class="list-group-item">
                    <a href="#!/{{model.loggedInId}}/user/{{user._id}}">{{user.username}}</a>
                    <a ng-show="model.isAdmin" ng-click="model.deleteUser"><span
                            class="glyphicon glyphicon-ban-circle"></span> Delete User
                    </a>
                </li>
            </div>

        </ul>

        <!--<div ng-show="model.isAdmin">-->
            <!--<h3> Create User </h3>-->
            <!--<label for="username">Username</label>-->
            <!--<input name="username"-->
                   <!--ng-model="model.user.username"-->
                   <!--id="username"-->
                   <!--type="text"-->
                   <!--placeholder="Username"-->
                   <!--class="form-control"/>-->
            <!--<label for="password">Password</label>-->
            <!--<input name="password"-->
                   <!--ng-model="model.user.password"-->
                   <!--id="password"-->
                   <!--type="password"-->
                   <!--placeholder="Password"-->
                   <!--class="form-control"/>-->
            <!--<label for="verifyPassword">Verify Password</label>-->
            <!--<input name="verifyPassword"-->
                   <!--ng-model="model.user.verifyPassword"-->
                   <!--id="verifyPassword"-->
                   <!--type="password"-->
                   <!--placeholder="Verify Password"-->
                   <!--class="form-control"/>-->
            <!--<label for="name">Name</label>-->
            <!--<input name="name"-->
                   <!--ng-model="model.user.name"-->
                   <!--id="name"-->
                   <!--type="text"-->
                   <!--placeholder="Name"-->
                   <!--class="form-control"/>-->
            <!--<label for="email">E-Mail</label>-->
            <!--<input name="email"-->
                   <!--ng-model="model.user.email"-->
                   <!--id="email"-->
                   <!--type="email"-->
                   <!--placeholder="E-Mail"-->
                   <!--class="form-control"/>-->

        <!--</div>-->

    </div>
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/{{model.loggedInId}}/user/{{model.loggedInId}}"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>


</div>
