<div class="ajg ajg-profile">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">New Page</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="model.createPage(model.page)"><span class="glyphicon glyphicon-ok"></span> Finish
                        Page</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-xs-3 visible-lg ajg-split-view-left">

                <ul class="list-group">
                    <li class="list-group-item active">
                        <div class="row">
                            <div class="col-xs-10">Pages</div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new" style="color:white">
                                    <span class="pull-right glyphicon glyphicon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li ng-repeat="page in model.pages" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-10">
                                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                            </div>
                            <div class="col-xs-2">
                                <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}"><span
                                        class="glyphicon glyphicon-cog pull-right"></span></a>
                            </div>
                        </div>

                    </li>
                </ul>

            </div>
            <div class="col-xs-12 col-lg-9 ajg-split-view-right">

                <label for="name">Name</label>
                <input name="Name"
                       ng-model="model.page.name"
                       placeholder="Concert Page"
                       class="form-control"
                       id="name"/>

                <label for="title">Title</label>
                <input name="title"
                       ng-model="model.page.title"
                       placeholder="Concerts are cool!"
                       class="form-control"
                       id="title"></textarea>

            </div>
        </div>

    </div>
    <footer>
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!/user/{{model.uid}}"><span
                            class="glyphicon glyphicon-user"/></a>
                </div>

            </div>
        </div>
    </footer>
</div>

