<div class="container-fluid" ng-controller="DetailsController">

    <div id="results">

        {{model.album.name}}

        <img src="{{model.album.images[0].url}}">

        <div ng-show="model.favorited">
            <!--Unfavorite button -->
            <a class="btn btn-default btn-block btn-danger"
               ng-click="model.unfavorite()"
               role="button">Unfavorite</a>
        </div>
        <div ng-hide="model.favorited">
            <!--Favorite button -->
            <a class="btn btn-default btn-block btn-success"
               ng-click="model.favorite()"
               role="button">Add To Favorites</a>
        </div>
        <!--<div ng-repeat="album in model.albums">-->
        <!--<a href="#!/{{model.loggedInId}}/details/{{album.id}}" {{album.name}}>{{album.name}}</a>-->
        <!--#!/{{model.loggedInId}}/details/{{album.id}}-->
        <!--</div>-->

    </div>
</div>
