<div class="container">
    <h1>Search for an Artist</h1>
    <p>Type an artist name and click on "Search". All of their albums will be displayed.</p>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" ng-model="model.queryString"
               placeholder="Type an Artist Name"/>
        <input type="submit" id="search" class="btn btn-primary" value="Search" ng-click="model.albumSearch()"/>
    </form>
    <div id="results">
        <div ng-repeat="album in model.albums">
            {{album}}
        </div>

    </div>
</div>
